@import "bootstrap-sprockets"
@import "bootstrap"
@import 'angular-bootstrap-datepicker'
html
  #home-page
    background: #fff
    #lab-selector
      width: 400px
      text-align: center
      margin: 300px auto
  .container
    .row
      padding-top: 10px
      .panel-title
        display: inline-block
      .btn-xs
        float: right
      table.table
        th:not(:first-child)
          cursor: pointer
          &:hover
            background: #d5d5d5
      #pie-Chart
        height: 270px
    .modal-body
      overflow: auto
    &#balance_index
      .panel-body
        overflow-y: scroll
        height: 700px
    &#currency_index
      th
        text-align: center
        vertical-align: middle
      .glyphicon-cog
        float: right
        cursor: pointer
        &:hover
          text-decoration: none
      #currency-list-modal
        .table-container
          overflow-y: scroll
          max-height: 500px

