body{
	color: red;
	background: #f1f1f1;
}
canvas{width: 95%}
#input, select, button, .chart{
	border: 2px solid rgba(151,187,205,1);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	background: #f8f8f8;
}
#input{
	width: 80%;
	height: 150px;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 10px;
}
.controls{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 18%
}
button{
	padding: 20px 40px;
}
button:hover, select:hover{
	background: rgba(151,187,205,1);
	cursor: pointer;
}
select{
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}